*{margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    text-decoration: underline;
     margin: 50px;
     text-align: center;
}
h2{
    text-align: center;
}

body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #045de9;
    background-image: url(../imagenes/tortuga.jpg);
    background-size: cover;
    background-attachment: fixed;
    
.main{  
    height: 100%;
    width: 100%;
    margin: 5px;
    margin-top: 1%;
}
    
 }
.parrafo{
    background-color:rgb(202, 239, 239);
    margin : 30px;
    padding: 10px;
    width: 60%;
    opacity: .8;
    }
.video{
    width: 30%;
    padding: 5rem;
    margin: 30px;
}

.aboutus{
    display: flex;
    flex-direction: column;
}
