footer{ 
     background-color: #2a2a72;
     background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
     height: 100px;
     margin: 0;
     width: 100%;
     text-align: center;
     
}
.footer1{
    position: absolute;
    bottom: 0%;
}
h3{
     text-decoration: underline;
     animation-duration: 4s;
    animation-name: aparece;
    animation-iteration-count: infinite;
    text-align: center;
 }
 @keyframes aparece{
 0%{
    opacity: 0;
}
50%{
    opacity: 1;
}
100%{
    opacity: 0;
    
}
 }    


 