footer{ 
     background-color: #2a2a72;
     background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
     height: 100px;
     text-align: center;
     width: 100%;
}

.footer1{ 
     background-color: #2a2a72;
     background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
     height: 100px;
     position: absolute;
     bottom: 0;
     text-align: center;
     width: 100%;
   
}
