header{
    width: 100%;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); 
    height: 100px;
    justify-content: space-between;
    align-items: center;
    display: flex;


.logo{
    
    padding: 40px;
    margin-top: 30px;
    margin-left: 60px;
    border-radius: 50%;
}
.menu{
    display: flex;
    justify-content: flex-end;
     list-style: none;
    margin:  auto;
    padding: auto;
    width: 100%;
    justify-content: space-between;
 
    li{
    display: inline-block;
   
    
    text-align: left;
    padding: 10px;
    margin: 10px;
    a{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: whitesmoke;
     &:hover{
    color: yellow;
    background-color: #045de9;
    border-radius: 40%;
    text-decoration: underline;
    }
 }
}
}
}