.cards{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    
}

.parrafo2{
    background-color:rgb(202, 239, 239);
    
    opacity: .8;
}
.form{
    width: 500px;
    height: 5000px;
}