*{margin:0;
 padding: 0;
 box-sizing: border-box;
 }
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    text-decoration: underline;
    margin: 50px;
    }
h2{
    text-decoration: underline;
    padding: 20px;
    text-align: center;
 }
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); 
    height: 100px;
}
.logo{
    display: flex;
    padding: 40px;
    align-self: center;
    
 }
.menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin:  auto;
    padding: auto;
    width: 100%;
 }
 .menu li{
    display: inline-block;
    text-align: left;
    padding: 10px;
    margin: 10px;
 }
 .menu li a{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: whitesmoke;
 }
 .menu Li a:hover{
    color: yellow;
    background-color: #045de9;
    border-radius: 40%;
    text-decoration: underline;
 }
 .contenedor{
    margin: auto;
     width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #045de9;
    background-image: url(../Imagenes/turtle\ \(1\).jpg);
    background-size: cover;
    background-attachment: fixed;
    height: auto;
 }
 .main{  
    width: 80%;
    margin: 10% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "parrafo aside"
      "carrousel carrousel";
  }
  
  .carrouselslide { grid-area: carrousel; }
  
  .parrafo { grid-area: parrafo; } 

.aside { grid-area: aside; }
  
.parrafo{
    background-color:rgb(202, 239, 239);
    margin: 10px;
    padding: 20px;
    width: 30%;
    opacity: .8;
}

    
.texto{
        text-decoration: solid;
         text-decoration: solid;
        }
aside{
    width: 80%;
    padding: 0.5rem;
}
.carrouselslide{
    display: flex;
    justify-content: center;
    justify-content: baseline;
}

footer{ 
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    height: 100px;
    text-align: center;
    width: 100%;
    
    }
h3{
    text-decoration: underline;
}
.aboutus{
text-align: center;
margin-left: auto;
   }
.parrafo2{
    text-align: center;
     }
.galeria{
        text-align: center;
        margin-left: auto;
 }
.cursos{
        text-align: center;
        margin-left: auto;
}
.contacto{
        text-align: center;
        margin-left: auto;
}
.infocontact{
        text-align: center;
        margin: 20px;
        padding: 20px;
}