* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
    h1{
      font-family: Georgia, 'Times New Roman', Times, serif;
      padding: 20px;
      text-decoration: underline;
      margin: 50px;
      text-align: center;
      }
  h2{
      text-decoration: underline;
      padding: 20px;
      text-align: center;
   }
  header{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); 
      height: 100px;
  }
  .logo{
      display: flex;
      padding: 40px;
      margin-left: 60px;
      }
  .menu{
      display: flex;
      justify-content: flex-end;
      list-style: none;
      margin:  auto;
      padding: auto;
      width: 100%;
   }
   .menu li{
      display: inline-block;
      text-align: left;
      padding: 10px;
      margin: 10px;
   }
   .menu li a{
      padding: 10px;
      margin: 10px;
      text-decoration: none;
      color: whitesmoke;
   }
   .menu Li a:hover{
      color: yellow;
      background-color: #045de9;
      border-radius: 40%;
      text-decoration: underline;
   }
   body{
      margin: auto;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #045de9;
      background-image: url(../Imagenes/turtle\ \(1\).jpg);
      background-size: cover;
      background-attachment: fixed;
      }
   .main{  
      height: 100%;
      width: 100%;
      margin: 5px;
      margin-top: 1%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 0.5fr;
      gap: 0px 1px;
      grid-auto-flow: row;
      grid-template-areas:
        "parrafo aside"
        "carrousel carrousel"
        
    }
    .main2{
      height: 100%;
      width: 100%;
      margin: 5px;
      
  }
    
  .pictures { grid-area: carrousel; }
  .parrafo { grid-area: parrafo; } 
  
  .aside { grid-area: aside; }
    
  .parrafo{
      background-color:rgb(202, 239, 239);
      margin : 30px;
      padding: 10px;
      width: 60%;
      opacity: .8;
      }
   .parrafo2{
      background-color:rgb(202, 239, 239);
      margin : 30px;
      padding: 10px;
      width: 90%;
      opacity: .8;
      display: flex;
      justify-content: center;
      }
      
  
  .video{
      width: 40%;
      padding: 5rem;
      margin: 30px;
  }
  .pictures{
      justify-content: baseline;
      display: flex;
      justify-content: space-around;
      opacity:.-10;
      margin: 50px;
      }
  .pictures:hover{
      opacity: .8;
       }     
   
   footer{ 
          background-color: #2a2a72;
           background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
           height: 100px;
          text-align: center;
           width: 100%;
   }
  
  .footer1{ 
     background-color: #2a2a72;
      background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
      height: 100px;
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      
      }
  
  h3{
      text-decoration: underline;
  }
  .aboutus{
  text-align: center;
  margin:  30px;
  text-align: center;
     }
  .parrafo2{
      background-color:rgb(202, 239, 239);
      opacity: .8;
      text-align: center;
       }
  .galeria{
          text-align: center;
          margin-left: auto;
   }
   .galleryimages{
      display: flex;
      justify-content: center;
      justify-content: space-between;
  
   }
  .cursos{
          text-align: center;
          margin-left: auto;
  }
  .contacto{
          text-align: center;
          margin-left: auto;
  }
  .infocontact{
          text-align: center;
          margin: 20px;
          padding: 20px;
          
  }
  @media screen and (max-width: 768px){
      .main{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
      grid-auto-flow: row;
      grid-template-areas:
        "parrafo"
        "aside" 
        "carrousel"
        "carrousel"
      }
  }